{% extends "store/main.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Kembali Belanja</a>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th>
                            <h5>Items: <Strong>{{order.get_cart_items}}</Strong></h5>
                            <h5>Totals: <Strong>Rp {{order.get_cart_total}}</Strong></h5>
                            <th>
                                <a style="float:right; margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                            </th>
                        </th>
                    </tr>
                </table>
            </div>
            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2;"></div>
                    <div style="flex:2;"><Strong>Jenis</Strong></div>
                    <div style="flex:1;"><Strong>Harga</Strong></div>
                    <div style="flex:1;"><Strong>Jumlah</Strong></div>
                    <div style="flex:1;"><Strong>Total</Strong> </div>
                </div>
                {% for item in items %}
                  
                <div class="cart-row">
                    <div style="flex:2;"><img class="row-image" src="{{ item.product.imageURL}}" alt=""></div>
                    <div style="flex:2;">{{item.product.name}}</div>
                    <div style="flex:1;">Rp{{item.product.price|floatformat:2}}</div>
                    <div style="flex:1;">
                        <p class="quantity">x{{item.quantity}}</p>
                        <div class="quantity">
                            <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">

                            <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}" >
                        </div>
                    </div>
                    <div style="flex:1;"><p>Rp{{item.get_total}}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}
 