body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color:black!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#background{
	position: absolute;
	width: 1920px;
	height: 1280px;
	left: 0px;
	top: 0px;
	opacity: 30%;
}

#welcome{
	position: absolute;
	width: 1323px;
	height: 556px;
	left: 298px;
	top: 135px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 140.62%;
	/* or 141px */
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

#belanja{
	position: absolute;
	width: 930px;
	height: 210px;
	left: 495px;
	top: 799px;


	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 140.62%;
	/* identical to box height, or 141px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	background-color: #325BEE;
	border-radius: 105px;
}