{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Selamat Datang di Semoga Jaya</title>
{% endblock meta %}

{% block content %}
  <img id="background" src="static\img\charles-deluvio-FK81rxilUXg-unsplash.jpg">
  <h1 id="welcome">Waktunya belanja di</br>Semoga Jaya</h1>
  <a href="store"><h2 id="belanja">Belanja</h2></a>
{% endblock content %}
